name: Static Analysis

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  analysis:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "21"
          cache: gradle

      - name: Grant execute permission for Gradle
        run: chmod +x gradlew

      - name: Run static analysis
        run: ./gradlew checkstyleMain pmdMain checkstyleTest pmdTest

      - name: Check if static analysis reports exist
        run: |
          if [ ! -d "app/build/reports/checkstyle" ] && [ ! -d "app/build/reports/pmd" ]; then
            echo "::warning file=gradlew::Static analysis reports not found!"
          fi

      - name: Upload static analysis reports
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: static-analysis-reports
          path: |
            app/build/reports/checkstyle/
            app/build/reports/pmd/
          if-no-files-found: ignore
