name: Test

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "21"
          cache: gradle

      - name: Grant execute permission for Gradle
        run: chmod +x gradlew

      - name: Run tests
        run: ./gradlew test

      - name: Check if test report exists
        run: |
          if [ ! -d "app/build/reports/tests/test" ]; then
            echo "::warning file=gradlew::Test report folder not found!"
          fi

      - name: Upload test report
        uses: actions/upload-artifact@v4
        with:
          name: test-report
          path: app/build/reports/tests/test/
          if-no-files-found: ignore
